@typeparam T

@if (Elements == null)
{
    <div class="col-4 offset-4 text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if (Elements.Ok)
{
    if (Elements.Payload.Any())
    {
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-md-12">
                <DxPager PageCount="@GetPageCount()"
                         NavigationMode="PagerNavigationMode.InputBox"
                         @bind-ActivePageIndex="@ActivePage">
                </DxPager>
            </div>
        </div>

        <div class="@ContainerClassName">
            @foreach (var element in Elements.Payload)
            {
                @ElementTemplate(element)
            }
        </div>

        <div class="row">
            <div class="col-md-12">
                <DxPager PageCount="@GetPageCount()"
                         NavigationMode="PagerNavigationMode.InputBox"
                         @bind-ActivePageIndex="@ActivePage">
                </DxPager>
            </div>
        </div>
    }
    else
    {
        <div class="col-4 offset-4 text-center">
            <div class="spinner-grow" role="status">
                <span class="sr-only">No elements</span>
            </div>
            <h3>No elements</h3>
        </div>
    }
}
