<div class="input-group mb-3">
    <div style="margin-right:2%">
        <DxTextBox ClearButtonDisplayMode="@DataEditorClearButtonDisplayMode.Auto"
                   NullText="Title filter"
                   @bind-Text="@_request.Title">
        </DxTextBox>
    </div>
    <div style="margin-right:2%">
        <DxComboBox Data="@_sortAndOrder.SortBy.Data"
                    AllowUserInput="false"
                    NullText="Sort by"
                    @bind-SelectedItem="@_sortAndOrder.SortBy.Item"
                    @bind-Text="@_sortAndOrder.SortBy.Text">
        </DxComboBox>
    </div>
    <div style="margin-right:2%">
        <DxComboBox Data="@_sortAndOrder.AscDesc.Data"
                    AllowUserInput="false"
                    NullText="Ascending/Descending"
                    @bind-SelectedItem="@_sortAndOrder.AscDesc.Item"
                    @bind-Text="@_sortAndOrder.AscDesc.Text">
        </DxComboBox>
    </div>
    <div class="input-group-append">
        <div style="margin-right:2%">
            <DxButton Click="@SearchMovies"
                      RenderStyle="@ButtonRenderStyle.Primary"
                      RenderStyleMode="@ButtonRenderStyleMode.Outline"
                      Text="Search" />
        </div>
        <div style="margin-right:2%">
            <DxButton Click="@Clear"
                      RenderStyle="@ButtonRenderStyle.Primary"
                      RenderStyleMode="@ButtonRenderStyleMode.Outline"
                      Text="Clear" />
        </div>
    </div>
</div>
