@page "/movies/save"
@page "/movies/save/{Id:int}"

@if (Id.HasValue)
{
    <h3>Edit Movie</h3>
}
else
{
    <h3>Create Movie</h3>
}

<EditForm Model="_saveMovieRequest" OnValidSubmit="CreateOrUpdateMovie">
    <FluentValidator Validator="_saveMovieRequestValidator"></FluentValidator>
    <div class="row">
        <div class="col-md-3">
            <div>
                @if (string.IsNullOrWhiteSpace(_saveMovieRequest?.Image))
                {
                    <img src="https://via.placeholder.com/200x200.png?text=Put+Here+Movie+Poster" alt="Image" style="width:286px;" />
                }
                else
                {
                    <img src="@_saveMovieRequest.Image" alt="Image" style="width:286px;" />
                }
            </div>
            <div class="form-group">
                <label>Title</label>
                <InputText type="text" class="form-control" placeholder="Title" @bind-Value="_saveMovieRequest.Title" />
                <ValidationMessage For="() => _saveMovieRequest.Title"></ValidationMessage>
            </div>
            <div class="form-group">
                <label>Release Date</label>
                <DxDateEdit FirstDayOfWeek="@DayOfWeek.Monday"
                            PickerDisplayMode="@DatePickerDisplayMode.Calendar"
                            @bind-Date="@_saveMovieRequest.ReleaseDate"
                            NullText="Please select a date"
                            DropDownVisible="@false">
                </DxDateEdit>
                <ValidationMessage For="() => _saveMovieRequest.ReleaseDate"></ValidationMessage>
            </div>
            <div class="form-group">
                <label>Movie Poster</label>
                <InputText type="text" class="form-control" placeholder="Paste image url" @bind-Value="_saveMovieRequest.Image" />
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div class="col-md-8 offset-md-1">
            @if (Id.HasValue && _movie != null && _movie.Actors != null && _movie.Actors.Any())
            {
                <h2>Actors:</h2>
                foreach (var actor in _movie.Actors)
                {
                    <div class="card float-left" style="width: 15rem; margin:3%">
                        <img src="@actor.Image" class="card-img-top rounded float-left" alt="@actor.FullName" />
                        <h5 class="card-title">@actor?.FullName</h5>
                    </div>
                }
            }
        </div>
    </div>
</EditForm>
